*{
   /*  background-color:cadetblue; */
   background-image: url("/Assets/Image/fondo.jpg");
   background-attachment: fixed;
    
}

.titulo{
    text-align: center;
}

.sub{
    text-align: center;
    
}

.fo{
    width:70%;
	height:auto;
	border:none;
	border-radius: none;
	background-color:#EEEEEE;			
	margin:8px 0;
	display:block;
    font-size: 15px;
    padding:10px 10px;
    resize: both;
 
}

#but{
    float: right;
}

.ima{
    display:block;
    margin:auto;
}
